
DiD/.ipynb_checkpoints/Case1_NJ_Penn-checkpoint.ipynb
DiD/.ipynb_checkpoints/Case2_tax_woman-checkpoint.ipynb
Google Causal Impact/.ipynb_checkpoints/Google_Causal_Impact-checkpoint.ipynb
Ganger Causality/.ipynb_checkpoints/ganger_causality_example-checkpoint.ipynb
Propensity Score Matching/.ipynb_checkpoints/PSM-checkpoint.ipynb
CHAID/.ipynb_checkpoints/CHAID-checkpoint.ipynb
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/3C7A32F1/sources/session-5341289d/lock_file
.Rproj.user/3C7A32F1/sources/session-5341289d/538874FE-contents
.Rproj.user/3C7A32F1/sources/session-5341289d/538874FE
.Rproj.user/3C7A32F1/sources/session-5341289d/3598F41B-contents
.Rproj.user/3C7A32F1/sources/session-5341289d/3598F41B
.Rproj.user/3C7A32F1/sources/prop/INDEX
.Rproj.user/3C7A32F1/sources/prop/3DDFF8C3
